In [14]:
import pandas as pd

In [ ]:
df.count(axis=1)

Formatted Date              96453
Summary                     96453
Precip Type                 95936
Temperature (C)             96453
Apparent Temperature (C)    96453
Humidity                    96453
Wind Speed (km/h)           96453
Wind Bearing (degrees)      96453
Visibility (km)             96453
Loud Cover                  96453
Pressure (millibars)        96453
Daily Summary               96453
dtype: int64

In [15]:
df = pd.read_csv('dataset\weatherHistory.csv')

In [ ]:
for i in df.columns:
    df[i] = df[i].name.split()[0]
    print(df[i].name)

Formatted
Summary
Precip
Temperature
Apparent
Humidity
Wind
Wind
Visibility
Loud
Pressure
Daily

In [ ]:
df['Formatted Date'

0        2006-04-01 00:00:00.000 +0200
1        2006-04-01 01:00:00.000 +0200
2        2006-04-01 02:00:00.000 +0200
3        2006-04-01 03:00:00.000 +0200
4        2006-04-01 04:00:00.000 +0200
                     ...
96448    2016-09-09 19:00:00.000 +0200
96449    2016-09-09 20:00:00.000 +0200
96450    2016-09-09 21:00:00.000 +0200
96451    2016-09-09 22:00:00.000 +0200
96452    2016-09-09 23:00:00.000 +0200
Name: Formatted, Length: 96453, dtype: object